.parent {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 85vh;

    /* position: absolute; */
}

.analyzer-header {text-align: center;}
.grid-main {grid-area: main;}
.grid-right {grid-area: right;}
.grid-bottom {grid-area: bottom; position:relative}
.grid-top {grid-area: top;}
.square {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'top top' 
    'main right'
    'main right'
    'bottom none';
    width: fit-content;
    position: absolute;
}

.grid-bottom input, textarea {
    width: 90%;
    /* margin-left: 20px; */
    position: absolute;
    left: 2.5em;
}

.grid-bottom label {
    vertical-align: top;
    transform: translate(0, 50%);
    display: inline;
}

.chart {
    position: absolute;
    top: 90%;
    width: 100%;
}

.grid-right {
    position: absolute;
    width: 15vw;    
    height: 100%;
    word-wrap: break-word;
}

.input-yes {
    margin-top: 15px;
}

.analyzer-top-div {
    background-color: rgba(0, 0, 0, 0.1);
}

.analyzer-info-parent {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: inline-block;

    text-align: left;
}

.analyzer-info-parent h3,h6 {
    margin-left: 0.25em;
    display: inline;
}

.analyzer-info-bar {
    margin-bottom: 2px;
    margin-top: 2px;
}

.analyzer-info-div {
    border-bottom: 2px solid lightgrey;
}